<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<title>云联金阳</title>
<script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>

<style type="text/css">
* {
	margin: 0px;
	padding: 0px;
}
</style>
</head>
<body>
<div>
<img src="__PUBLIC__/img/mcz_01.jpg" width="100%">
<img src="__PUBLIC__/img/mcz_02.jpg" width="100%">
<img src="__PUBLIC__/img/mcz_03.jpg" width="100%">
<img src="__PUBLIC__/img/mcz_04.jpg" width="100%">
<img src="__PUBLIC__/img/mcz_05.jpg" width="100%">
<img src="__PUBLIC__/img/mcz_06.jpg" width="100%">
<img src="__PUBLIC__/img/mcz_07.jpg" width="100%">
<img src="__PUBLIC__/img/mcz_08.jpg" width="100%">
<img src="__PUBLIC__/img/mcz_09.jpg" width="100%">
<img src="__PUBLIC__/img/mcz_10.jpg" width="100%">
<img src="__PUBLIC__/img/mcz_11.jpg" width="100%">
<img src="__PUBLIC__/img/mcz_12.jpg" width="100%">
<img src="__PUBLIC__/img/mcz_13.jpg" width="100%">
<img src="__PUBLIC__/img/mcz_14.jpg" width="100%">
  
    
        <a href="<{:U('Qt/Login/zc')}>?scode=<{$scode}>"><img src="__PUBLIC__/img/mcz_15.jpg" width="100%"></a>
        

<img src="__PUBLIC__/img/mcz_16.jpg" width="100%">
<img src="__PUBLIC__/img/mcz_18.jpg" width="100%">
</div>
</body>
</html>
