<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>会员列表</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/css.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<!-- <script type="text/javascript" src="js/page.js" ></script> -->
</head>

<body>
	<div id="pageAll">
		<div class="pageTop">
			
		</div>

		<div class="page">
			<!-- user页面样式 -->
			<div class="connoisseur">
				<div class="conform">
					<form action="__CONTROLLER__/index">
						<div class="cfD">
							<input class="userinput" name="name" type="text" placeholder="输入会员姓名" />&nbsp;&nbsp;&nbsp;
							<button class="userbtn">搜索</button>
						</div>
					</form>
				</div>
				<!-- user 表格 显示 -->
				<div class="conShow">
					<table border="1" cellspacing="0" cellpadding="0" width="100%">
						<tr>
							<td class="tdColor tdC">序号</td>
							<td class="tdColor">会员账号</td>
							<td class="tdColor">会员姓名</td>
							<td class="tdColor">会员微信名</td>
							<td class="tdColor">操作&nbsp;&nbsp;&nbsp;
							<a href="__CONTROLLER__/add">添加</a>
							</td>
						</tr>
						<empty name="arr">
						<tr height="40px">
							<td style="font-size:16px;" colspan="4">没有符合条件的数据。。。</td>
						</tr>
						<else />
						<volist name="arr" id="v">
						<tr height="40px">
							<td><{$v['vid']}></td>
							<td><{$v['mobile']}></td>
							<td><{$v['name']}></td>
                            <td><{$v['nickname']}></td>
							<td>	
								<a class="delban" style="cursor:pointer;" value="<{$v.vid}>">删除</a>
								<a href="<{:U('Home/Vip/save',array('vid'=>$v['vid']))}>" >修改</a>
								<a href="<{:U('Home/Vip/details',array('vid'=>$v['vid']))}>" >查看</a>
							</td>
						</tr>
						</volist>
						</empty>
					</table>
					<div class="pagelist"><{$show}></div>
				</div>
				<!-- user 表格 显示 end-->
			</div>
			<!-- user页面样式end -->
		</div>
	</div>
	<!-- 删除弹出框 -->
	<div class="banDel">
		<div class="delete">
			<div class="close">
				<a><img src="__PUBLIC__/img/shanchu.png" /></a>
			</div>
			<p class="delP1">你确定要删除此条记录吗？</p>
			<p class="delP2">
				<a href="" class="ok yes">确定</a><a class="ok no">取消</a>
			</p>
		</div>
	</div>
	<!-- 删除弹出框  end-->
</body>

<script type="text/javascript">
// 广告弹出框
$(".delban").click(function(){
	var del = $(this).attr('value');
	$('.yes').attr('href','__CONTROLLER__/delete/vid/'+del);
    $(".banDel").show();
});
$(".close").click(function(){
  $(".banDel").hide();
});
$(".no").click(function(){
  $(".banDel").hide();
});
// 广告弹出框 end
</script>
</html>