@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	-moz-transition: all 0.3s ease-in-out; 
	-webkit-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	-ms-transition: all 0.3s ease-in-out; 
	transition: all 0.3s ease-in-out;   /*cubic-bezier(0.25,0.1,0.25,1)*/
}
input[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: none;
}
textarea { -webkit-appearance: none;}
@font-face{
font-family: yingwen;
src:url('Museo100.otf')
}
@font-face{
font-family: "黑体";
src:url('"黑体".ttf')
}
body {
	width: 100vw;
	font-family: "黑体", yingwen;
	font-size: 3vw;
	background: -webkit-gradient(linear,left top,left bottom,from(#62cdf0),to(#9cdff5));
	background: -webkit-linear-gradient(#62cdf0,#9cdff5);
	background: -moz-linear-gradient(#62cdf0,#9cdff5);
	background: -o-linear-gradient(#62cdf0,#9cdff5);
	background: linear-gradient(#62cdf0,#9cdff5);
}
ul {
	list-style-image: none;
	list-style-type: none;
}

img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
input {
	font-family: "黑体", yingwen;
}
.top {
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	box-sizing: border-box;
	overflow: hidden;
	margin-bottom: 2.5vw;
	line-height: 11vw;
	text-align: center;
	font-size: 4.4vw;
	color: rgba(255,255,255,1);
	padding-right: 2.5vw;
	padding-left: 2.5vw;
	position: absolute;
	z-index: 999;
}
.top img {
	float: left;
	height: 5.5vw;
	margin-top: 1.5vh;
}
.top a {
	display: block;
}


.ylk {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: fixed;
	z-index: 1;
	background: -webkit-gradient(linear,left top,left bottom,from(#62cdf0),to(#9cdff5));
	background: -webkit-linear-gradient(#62cdf0,#9cdff5);
	background: -moz-linear-gradient(#62cdf0,#9cdff5);
	background: -o-linear-gradient(#62cdf0,#9cdff5);
	background: linear-gradient(#62cdf0,#9cdff5);
}
.ri {
	background-color: #efe98e;
	height: 15vw;
	width: 15vw;
	border-radius: 50%;
	position: absolute;
	left: 15vw;
	top: 20vw;
}

.yun1 {
	position: absolute;
	width: 100%;
	left: 0px;
	z-index: 2;
	bottom: 65vw;
	opacity:0.8;
}
.yun2 {
	position: absolute;
	width: 100%;
	left: 0px;
	z-index: 3;
	bottom: 62vw;
	opacity: 0.8;
}
.shan {
	position: absolute;
	width: 100%;
	left: 0px;
	z-index: 4;
	bottom: 40vw;
}
.di {
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 50vw;
	width: 100%;
	z-index: 5;
}
.fengche {
	width: 10vw;
	height: 22vw;
	bottom: 46vw;
	position: absolute;
	z-index: 7;
	animation: goumai 0.5s linear 3s forwards;
	-webkit-animation: goumai 0.5s linear 3s forwards;
	right: 12vw;
}
.fengche1 {
	width: 20vw;
	height: 20vw;
	margin-top: -10vw;
	margin-left: -10vw;
	position: absolute;
	top: 2vw;
	left: 5vw;
	animation: zhuan 5s linear 1s infinite ;
    -webkit-animation: zhuan 5s linear 1s infinite;
}
@keyframes zhuan{
0%{-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);}
100%{-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);}
}
.fengche2 {
	height: 100%;
	width: 100%;
}
.shu1 {
	width: 20vw;
	left: 5vw;
	bottom: 10vw;
	position: absolute;
	z-index: 10;
}
.shu2 {
	width: 14vw;
	bottom: 23vw;
	position: absolute;
	z-index: 8;
	right: 5vw;
}
.shu3 {
	width: 8vw;
	bottom: 41vw;
	position: absolute;
	z-index: 6;
	left: 24vw;
}
.shu4 {
	width: 6vw;
	bottom: 45vw;
	position: absolute;
	z-index: 6;
	right: 24vw;
}
.shu5 {
	width: 5vw;
	bottom: 47vw;
	position: absolute;
	z-index: 6;
	right: 5vw;
}
.cao1 {
	width: 8vw;
	bottom: 7vw;
	position: absolute;
	z-index: 12;
	left: 25vw;
}
.cao2 {
	width: 8vw;
	bottom: 20vw;
	position: absolute;
	z-index: 8;
	left: 55vw;
}
.cao3 {
	width: 8vw;
	bottom: 15vw;
	position: absolute;
	z-index: 10;
	left: 75vw;
}



.yang11{
	width: 13vw;
	height: 13vw;
	left: 5vw;
	z-index: 9;
	bottom: 13vw;
	position: absolute;
	animation: yang11 40s linear 0s infinite;
	-webkit-animation: yang11 40s linear 0s infinite;
	margin-left: 65vw;
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
}
@keyframes yang11{
0%{ margin-left:65vw;transform: rotateY(0deg);-webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);}
50%{ margin-left:5vw;transform: rotateY(0deg);-webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);}
50.01%{ margin-left:5vw;transform: rotateY(180deg);-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);}
99.99%{ margin-left:65vw;transform: rotateY(180deg);-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);}
100%{ margin-left:65vw;transform: rotateY(0deg);-webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);}
}
.yang12{
	width: 13vw;
	height: 13vw;
	left: 25vw;
	z-index: 7;
	bottom: 20vw;
	position: absolute;
	animation: yang12 50s linear 0s infinite;
	-webkit-animation: yang12 50s linear 0s infinite;
	margin-left: 5vw;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
@keyframes yang12{
0%{ margin-left:5vw;transform: rotateY(180deg);-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);}
50%{ margin-left:45vw;transform: rotateY(180deg);-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);}
50.01%{ margin-left:45vw;transform: rotateY(0deg);-webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);}
99.99%{ margin-left:5vw;transform: rotateY(0deg);-webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);}
100%{ margin-left:5vw;transform: rotateY(180deg);-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);}
}

.yang13{
	width: 13vw;
	height: 13vw;
	left: 5vw;
	z-index: 11;
	bottom: 5vw;
	position: absolute;
	animation: yang13 57s linear 0s infinite;
	-webkit-animation: yang13 57s linear 0s infinite;
	margin-left: 70vw;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
@keyframes yang13{
0%{ margin-left:5vw;transform: rotateY(180deg);-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);}
50%{ margin-left:80vw;transform: rotateY(180deg);-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);}
50.01%{ margin-left:80vw;transform: rotateY(0deg);-webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);}
99.99%{ margin-left:5vw;transform: rotateY(0deg);-webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);}
100%{ margin-left:5vw;transform: rotateY(180deg);-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);}
}

.yang2{
	width: 100%;
	height: 100%;
	bottom: 0vw;
	position: absolute;
}
 .zu1 {
	background-color: #000;
	height: 9%;
	width: 9%;
	border-radius: 50%;
	position: absolute;
	left: 24%;
	bottom: 29.5%;
	animation: zou1 1s linear infinite; 
    -webkit-animation: zou1 1s linear infinite;
}

@keyframes zou1{
0%{left: 24%;bottom: 29.5%;}
50%{left: 34%;bottom: 27%;}
100%{left: 24%;bottom: 29.5%;}
}
 .zu2 {
	background-color: #000;
	height: 9%;
	width: 9%;
	border-radius: 50%;
	position: absolute;
	left: 34%;
	bottom: 27%;
	animation: zou2 1s linear infinite; 
    -webkit-animation: zou2 1s linear infinite;
}
@keyframes zou2{
0%{left: 34%;bottom: 27%;}
50%{left: 24%;bottom: 29.5%;}
100%{left: 34%;bottom: 27%;}
}
 .zu3 {
	background-color: #000;
	height: 9%;
	width: 9%;
	border-radius: 50%;
	position: absolute;
	left: 68.5%;
	bottom: 27%;
	animation: zou3 1s linear infinite;  
    -webkit-animation: zou3 1s linear infinite;
}
@keyframes zou3{
0%{left: 68.5%;bottom: 27%;}
50%{left: 78%;bottom: 30%;}
100%{left: 68.5%;bottom: 27%;}
}
 .zu4 {
	background-color: #000;
	height: 9%;
	width: 9%;
	border-radius: 50%;
	position: absolute;
	left: 78%;
	bottom: 30%;
	animation: zou4 1s linear infinite; 
    -webkit-animation: zou4 1s linear infinite;
}
@keyframes zou4{
0%{left: 78%;bottom: 30%;}
50%{left: 68.5%;bottom: 27%;}
100%{left: 78%;bottom: 30%;}
}


.box {
	width: 95%;
	box-sizing: border-box;
	position: absolute;
	left: 2.5%;
	top: 14vw;
	padding-bottom: 3vw;
	border-radius: 1.5vw;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.6);
	z-index: 99;
}
.yangjuan {
	height: auto;
	width: 95vw;
	box-sizing: border-box;
	overflow: hidden;
	margin-bottom: 2.5vw;
	color: rgba(255,255,255,1);
	padding-top: 2.5vw;
	padding-right: 2.5vw;
	padding-bottom: 2.5vw;
	padding-left: 2.5vw;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(255,255,255,0.7);
	text-align: right;
}
.yangjuan div {
	line-height: 8vw;
	box-sizing: border-box;
	font-size: 3.5vw;
}
.yangjuan div a {
	color: rgba(255,255,255,1);
	text-decoration: none;
}

.yangjuan div strong {
	color: rgba(255,255,255,1);
	padding-right: 1vw;
	padding-left: 1vw;
	font-size: 6vw;
	font-weight: normal;
}

.yangjuan div:nth-child(1){
	width: 23%;
	color: rgba(255,255,255,1);
	background-color: rgba(0,153,0,0.6);
	text-align: center;
	border-radius: 1vw;
	font-size: 3.5vw;
	padding-right: 0px;
	line-height: 10vw;
	float: right;
	margin-bottom: 2vw;
}
.yangjuan div:nth-child(2) {
	padding-right: 2.5vw;
	margin-top: 1vw;
	clear: both;
}
.yangjuan div img.a {
	height: 4vw;
	margin-bottom: 0px;
}
.yangjuan div img.b {
	height: 6vw;
	margin-bottom: -1vw;
}
.yangjuan div img {
	margin-bottom: -0.5vw;
	margin-right: 2vw;
	height: 5vw;
}
.yzlb {
	width: 100%;
	line-height: 4.5vw;
	font-size: 3.3vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
	padding-right: 2.5vw;
	padding-left: 2.5vw;
	box-sizing: border-box;
	color: rgba(255,255,255,1);
	background-color: rgba(0,0,0,0.05);
}
.yzlb.guoqi {
	font-size: 2.5vw;
	color: rgba(255,255,255,0.8);
}
