<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>订单列表</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/css.css" />
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="js/page.js" ></script> -->
</head>

<body>
<div id="pageAll">
    <div class="pageTop">

    </div>

    <div class="page">
        <!-- user页面样式 -->
        <div class="connoisseur">
            <div class="conform">
                <form action="__CONTROLLER__/index">
                    <div class="cfD">
                        <input class="userinput" name="order_sn" type="text" placeholder="订单号" />&nbsp;&nbsp;&nbsp;
                        <button class="userbtn">搜索</button>
                    </div>
                </form>
                &nbsp&nbsp 订单总价：<{$zhong}>   订单总数：<{$count}>
            </div>
            <!-- user 表格 显示 -->
            <div class="conShow">
                <table border="1" cellspacing="0" cellpadding="0" width="100%">
                    <tr>
                        <td class="tdColor tdC">序号</td>
                        <td class="tdColor">订单号</td>
                        <td class="tdColor">收货人</td>

                        <td class="tdColor">联系电话</td>
                        <td class="tdColor">收货地址</td>
                        <td class="tdColor">货物名称</td>
                        <td class="tdColor">购买数量</td>
                        <td class="tdColor">总价</td>
                        <td class="tdColor">订单生成时间</td>
                        <td class="tdColor">是否付款</td>
                        <td class="tdColor">备注</td>
                    </tr>
                    <empty name="arr">
                        <tr height="40px">
                            <td style="font-size:16px;" colspan="10">没有符合条件的数据。。。</td>
                        </tr>
                        <else />
                        <volist name="arr" id="v">
                            <tr height="40px">
                                <td><{$v['order_id']}></td>
                                <td><{$v['order_sn']}></td>
                                <td><{$v['buyer_name']}></td>
                                <td><{$v['tel']}></td>
                                <td><{$v['adds']}></td>
                                <td><{$v['pname']}></td>
                                <td><{$v['number']}></td>
                                <td><{$v['order_money']}></td>
                                <td><{$v['create_time'] | date='Y-m-d H:i:s',###}></td>
                                <td><if condition="$v['buyer_status'] eq 0">否<else/>是</if></td>
                                <td class="aoo"><{$v.remark}></td>
                                <td class="aop" style="display: none"> <textarea name="remark" ids="<{$v.order_id}>" id="re_<{$v.order_id}>" class="mark" ><{$v.remark}></textarea></td>
                            </tr>
                        </volist>
                    </empty>
                </table>
                <div class="pagelist"><{$show}></div>
            </div>
            <!-- user 表格 显示 end-->
        </div>
        <!-- user页面样式end -->
    </div>
</div>
<!-- 删除弹出框 -->
<div class="banDel">
    <div class="delete">
        <div class="close">
            <a><img src="__PUBLIC__/img/shanchu.png" /></a>
        </div>
        <p class="delP1">你确定要删除此条记录吗？</p>
        <p class="delP2">
            <a href="" class="ok yes">确定</a><a class="ok no">取消</a>
        </p>
    </div>
</div>
<!-- 删除弹出框  end-->
</body>

<script type="text/javascript">
    // 广告弹出框
    $(".delban").click(function(){
        var del = $(this).attr('value');
        $('.yes').attr('href','__CONTROLLER__/delete/pid/'+del);
        $(".banDel").show();
    });
    $(".close").click(function(){
        $(".banDel").hide();
    });
    $(".no").click(function(){
        $(".banDel").hide();
    });
    // 广告弹出框 end
    $('.aoo').click(function(){

        $(this).css('display','none');
        $(this).next().css('display','block');
    })
    //ajax 备注
    $('.mark').blur(function(){
        var ids = $(this).attr('ids');
        var mark=$(this).val();
        $.post('__CONTROLLER__/zz', {'ids':ids,'remark':mark}, function (t) {

            $('#re_'+ids).parent().css('display',"none");
            $('#re_'+ids).parent().prev().removeAttr('style').html(mark);


        })


    })
</script>
</html>