<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<title>云联金阳</title>
<link rel="stylesheet" href="__PUBLIC__/css/sc.css" type="text/css" />
<script src="__PUBLIC__/js/jquery-1.8.3.min.js" type="text/javascript"></script>
</head>
<body style="background-color:rgba(204,204,204,0.05)">
<div class="top"><a href="javascript:history.go(-1);"><img src="__PUBLIC__/img/jiantou.png" /></a>商城-订单详情</div>
<div class="ddk">
  <div class="dd1">
  <h1><span>13813813888</span>收货人：张三</h1>
  <h2>收货地址：<input type="text" value="黑龙江省哈尔滨市松北区松北大道58号" /></h2>
  </div>
  <ul>
    <li style="padding-bottom:2.5vw;">
    <h2>订单编号：2525132814554</h2>
    <div><span style=" color:rgba(102,102,102,1)">￥100元</span><a href="sc_xx.html"><img src="__PUBLIC__/img/sp.jpg"></a><h1>新鲜精装羊肉 x 1</h1></div>
    </li>
  </ul>
  <div class="dd1 dd2">
  <h3><span>￥15.00元</span>配送方式：顺丰 </h3>
  <h4><span>￥115.00元</span>订单总价</h4>
  </div>
  <div class="tjdd"><input name="提交" type="submit" class="tjddan2" value="再次购买"  onclick="location='sc_xx.html'"/></div>
</div>
</body>
</html>
