<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<title>云联金阳</title>
<link rel="stylesheet" href="__PUBLIC__/css/slick.css" type="text/css"/>
<link rel="stylesheet" href="__PUBLIC__/css/sc.css" type="text/css" />
<script src="__PUBLIC__/js/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/slick.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.single-item').slick({
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 1,
        slidesToScroll: 1
    });
	$(".fl li").click(function(){
		$(this).addClass("hover").siblings().removeClass("hover")
		var index = $(this).index();
		$(".box ul:eq("+ index +")").show().siblings().hide()
	})
})
</script>
</head>
<body>
<div class="top"><div class="dingdan"><a href="<{:U('Qt/Goods/dd')}>"><img src="__PUBLIC__/img/dd.png">订单</a></div>　　　商城</div>
<div class="slider single-item">
	<volist name='acc' id='v'>
	<div><img src="__PUBLIC__/<{$v['photo']}>"></div>
 </volist>
</div>
<volist name='abb' id='v'>
<a href="<{$v['access']}>"><img src="__PUBLIC__/<{$v['photo']}>" class="gg1"></a>
</volist>
<div class="fl">
  <ul>
    <li class="hover">综合<span>></span></li>
    <li>销量<span>></span></li>
    <li>价格<span>></span></li>
</ul>
</div>

<div class="box">
 <!-- <ul class="hover">-->
  <ul  style="display:block;">
    <volist name='arr' id='v'>    
   <li><a href="<{:U('Qt/Goods/sc_xx',array('gid'=>$v['gid']))}>"><img src="__PUBLIC__/<{$v['photo']}>"><h1><{$v['gname']}></h1><p><span>月销<{$v['xl']}>笔</span>￥<{$v['much']}></>元</p></a></li>
  </volist>
  </ul>
  <ul style="display:none;">
    <volist name='arr' id='v'>    
   <li><a href="<{:U('Qt/Goods/sc_xx',array('gid'=>$v['gid']))}>"><img src="__PUBLIC__/<{$v['photo']}>"><h1><{$v['gname']}></h1><p><span>月销<{$v['xl']}>笔</span>￥<{$v['much']}></>元</p></a></li>
  </volist>
  </ul>
  <ul style="display:none;">
    <volist name='agg' id='v'>    
   <li><a href="<{:U('Qt/Goods/sc_xx',array('gid'=>$v['gid']))}>"><img src="__PUBLIC__/<{$v['photo']}>"><h1><{$v['gname']}></h1><p><span>月销<{$v['xl']}>笔</span>￥<{$v['much']}></>元</p></a></li>
  </volist>
  </ul>
</div>
</body>
</html>
