<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<title>云联金阳</title>
<link rel="stylesheet" href="css/mr.css" type="text/css" />
<script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
</head>
<body>
<div class="top">
  <!--<div class="biaoqian2"></div>
  <h1><span>第一期</span></h1>-->
  <a href="zx.html"><img src="img/jiantou.png" /></a>购买新养-产品合同
</div>
<div class="box2">
  <h1 >云联金阳联合养殖协议</h1>
  <p >甲方：黑龙江政兴农业有限公司 </p>
  <p >乙方：乙方姓名 </p>
  <p >身份证号码：乙方身份证号码 </p>
  <p >手机号码：乙方认证手机号码 </p>
  <p >领养数量：乙方领养数量（只） </p>
  <p >联养期数：甲方推出期数（种类） </p>
  <p >总领养金额：乙方领养总金额 </p>
  <p >拟回报：甲方推出当期产品收益回报 </p>
  <p >订单编号：订单编号 </p>
  <p >羊只耳号：甲方分配给乙方的羊只耳号 </p>
  <p >保险单号：每羊一保险，详见云联金阳平台&#8220;牧人&#8221;&#8594;&#8220;合同&#8221;&#8594;&#8220;保单信息&#8221;<br />
  </p>
  <p ><strong>鉴于：</strong><strong> </strong><br />
    1.甲方是一家从事种羊繁育，肉羊养殖，饲料生产，禽畜养殖、加工、销售为一体的现代化高科技企业，同时也是云联金阳平台的开发与运营企业。 <br />
    2.乙方作为云联金阳平台注册用户（具体详见本协议首部表格），拟通过云联金阳平台与甲方合作饲养羊只，以获取回报。 <br />
    3.甲方与乙方均同意遵守各项行为准则，在充分阅读理解本协议情形下本着自愿、平等、诚信的原则下签订本协议。现双方根据《中华人民共和国合同法》等相关法律法规的规定，在协商一致的基础上，就合作饲养羊只事宜，达成协议如下： <br />
    </p>
  <p ><strong>一．合作方式</strong><strong> </strong><br />
    双方同意以&#8220;云联金阳互联网牧场&#8221;的模式合作养羊，即乙方作为牧羊人提供资金，领养羊只后委托甲方进行养殖，最终按约定方式获取回报；甲方接受乙方委托，利用乙方资金以自己的名义代乙方领养羊只并进行养殖，待养殖完成后按约定形式向乙方返还回报，甲方为乙方在&#8220;云联金阳互联网牧场&#8221;平台提供交易信息、羊只管理数据、等技术支持，领养期内乙方不得中途弃养。 <br />
    </p>
  <p ><strong>二．合作内容</strong><strong> </strong><br />
    1.乙方在云联金阳平台发布的领养期内领养一定数量的羊只，并将所领养羊只数量对应的领养金额支付给甲方。 <br />
    2.领养期届满（即甲方指定的领养期限届满之日或领养期内甲方发布的羊只数量被足额领养之日，以先到日期为准）后次日，甲方将领养期内包含乙方在内成功领养的牧羊人所实际支付的领养金额总额一次性转给甲方。 <br />
    3.甲方于收到乙方领养支付后3日内，以自己的名义为乙方完成所领养数量羊只的选购，并将所领养羊只的耳标号等信息录入云联金阳平台系统供乙方查询。 <br />
    4.甲方确认并同意，其依据本协议所领养的羊只的所有权归属于乙方，即自甲方从其交易对手处领养羊只之日起，乙方在协议期限内拥有羊只的所有权。 <br />
    5.乙方可随时对养殖的过程进行监督。 <br />
    6.甲方接受乙方委托，联合牧场或自建符合约定标准的羊舍和配套设备设施，并按照饲养管理标准的要求对乙方羊只进行养殖。 <br />
    7.羊只养殖期间，甲方向乙方提供羊只养殖过程中的各项数据信息，乙方可通过云联金阳平台查看羊只养殖过程。 <br />
    8.除乙方按本协议约定承担的部分费用外，羊只养殖过程中所产生一切费用，包括但不限于羊舍及配套设备设施的建造、安装、饲料、疫苗、除虫、人工等均由甲方承担。 <br />
    9.甲方负责为所养殖的羊只投保养殖保险，并承担羊只养殖期间所发生的一切风险和损失。 <br />
    10.养殖结束后，甲方按照本协议约定向乙方返还购羊款。 <br />
    </p>
  <p ><strong>三．领养支付方式</strong>
    1.本协议项下的&#8220;总领养金额&#8221;是指，乙方为甲方受托施行本协议项下各项委托事项所需一次性支付给甲方的费用及报酬。 <br />
    2.各方确认，乙方通过在云联金阳平台成功领养的羊只数量，即乙方委托甲方购买的羊只数量，以及本协议项下乙方应支付给甲方的投资本金金额详见本协议首部表格。 <br />
    </p>
  <p ><strong>四．风险责任及承担</strong>
    1.甲方承担养殖风险，如育肥羊因任何原因（由乙方导致的除外）在领养周期内死亡、或饲养完成后不具备屠宰出售的条件，领养期满后，甲方仍须向乙方支付领养金额及回报总额。 <br />
    2.甲方承担市场风险，如市场价格降低，领养期满后，甲方仍须向乙方支付领养金额及回报总额。 <br />
    </p>
  <p ><strong>五．其他</strong>
    1.本协议自乙方完成支付领养金额后立即生效，自联合养殖到期之时即终止。 <br />
    2.本协议在履行过程中发生争议，由双方当事人协商解决，也可由有关部门调解；协商或调解不成的，双方均可向甲方所在地人民法院起诉。 <br />
  3.本协议生效后，各方应严格履行本协议约定责任，不得任意解除本协议，若甲方违反本协议约定，乙方有权解除本协议并有权要求甲方返还购羊金额，若乙方违反本协议约定，甲方有权解除本协议并有权要求乙方赔偿甲方的实际经济损失。 </p>

</div>
</body>
</html>
