<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<title>云联金阳</title>
<link rel="stylesheet" href="__PUBLIC__/css/mr.css" type="text/css" />
<script src="__PUBLIC__/js/jquery-1.8.3.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
	$(".box4 li").click(function(){
		$(this).addClass("hover").next(".wtxx").addClass("hover").siblings(".wtxx").removeClass("hover")
		$(this).siblings("li").removeClass("hover")
	})
})
</script>
</head>
<body >
<div class="shouquan">
  <img src="__PUBLIC__/img/shouquan.jpg" />
  <!--<img src="img/shouquan2.jpg" />--><!--用于QQ登录-->
  <p>该网页由云联金阳开发，向其提供以下权限即可继续操作。</p>
</div>
<h1 class="sqh1">获得你的公开信息（昵称、头像等）</h1>

<input name="提交" type="submit"  class="sqan" value="确认登陆"/>

</body>
</html>
