<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<title>云联金阳</title>
<link rel="stylesheet" href="__PUBLIC__/css/sc.css" type="text/css" />
<script src="__PUBLIC__/js/jquery-1.8.3.min.js" type="text/javascript"></script>
</head>
<body style="background-color:rgba(204,204,204,0.05)">
<div class="top"><a href="javascript:history.go(-1);"><img src="__PUBLIC__/img/jiantou.png" /></a>产品-订单列表</div>
<div class="ddk">
  <ul>
  <volist name='arr' id='v'>
  <form action="__CONTROLLER__/ggdd" method="post">
    <li><h2>订单号：</h2>$v['order_sn']
    <if condition="$v['del'] eq 1">
    商品名：<{$v['gname']}>
  商品图片：<{$v['photo']}>
  订单总价：<{$v['money']}>
  <else/>
   产品名：<{$v['pname']}>
   订单总价：<{$v['pmoney']}>
  </if>
  <input type="hidden" name='order_id' value="<{$v['order_id']}>" />
   <input type="submit" value="确认付款" class="an1" />
   </li>
   </form>
   </volist> 
  </ul>
</div>
</body>
</html>
