<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<title>云联金阳</title>
<link rel="stylesheet" href="__PUBLIC__/css/mr.css" type="text/css" />
<script src="__PUBLIC__/js/jquery-1.8.3.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".szbt h1").click(function(){
		var index = $(this).index()
		$(this).addClass("hover").siblings().removeClass("hover");
		$(".szk div:eq(" + index + ")").addClass("hover").siblings().removeClass("hover");
	})
	 $(".czk li").click(function(){
		$(this).addClass("on").siblings().removeClass("on")
	})
	$(".czk h2").click(function(){
		$(".czk li").removeClass("on")
	})
	$(".czfs p").click(function(){
		$(this).addClass("on").siblings().removeClass("on")
	})
});
</script>
</head>
<body>
<div class="top">
  <!--<div class="biaoqian2"></div>
  <h1><span>第一期</span></h1>-->
  <a href="javascript:history.go(-1);"><img src="__PUBLIC__/img/jiantou.png" /></a>牧人中心-充值
</div>
<div class="box1">
  <div class="yue">
  
  当前余额：<{$arr['money']}>元
  </div>
<div class="czk">
<h1>充值金额</h1>
<form action="/wxpay/example/jsapi.php" method='post' >
<!--<form action="<{:U('Qt/Shopping/wxpay2',array('openid'=>$arr['openid']))}>" method='post' >-->
<!--<ul>
  <li class="on">50元</li>
  <li>100元</li>  
  <li>300元</li>
  <li>500元</li>
  <li>1000元</li>
  <li>2000元</li>
  <li>3000元</li>
</ul>-->

<h2>请输入金额<input name="money" type="text" id="yuan" />元</h2>
<h1>充值方式</h1>
<div class="czfs">
  <p class="on"><img src="__PUBLIC__/img/weixinzhifu.jpg" /></p>
  <p class="zf2"><img src="__PUBLIC__/img/zhifubaozhifu.jpg" /></p>
</div>
<input type="button" value="充值" class="an" id="submit" />
</form>
<script>
 	$("#submit").on('click',function(){
		var yuan=$("#yuan").val();
		var se=1;
        top.location.href = '/wxpay/example/jsapi.php?pay='+yuan+'&se='+se;
    })
</script>
</div>
</div>
</body>
</html>
